@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

@media (hover: none) {
  button:hover {
    background-color: unset !important; 
    color: unset !important;
  }
}

.star-icon{
  display: none;
}

.hover-trigger:hover .star-icon{
  display: block;
}

.card-options ul {
  display: none;
}
.card-options.open ul{
  display: block;
}
:root {
  --bg-color: #ffffff; /* Default light background */
}

.dark {
  --bg-color: #000000; /* Dark background when .dark class is applied */
}


