@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

.star-icon{
  display: none;
}

.hover-trigger:hover .star-icon{
  display: block;
}

.card-options ul {
  display: none;
}
.card-options.open ul{
  display: block;
}
:root {
  --bg-color: #ffffff; /* Default light background */
}

.dark {
  --bg-color: #000000; /* Dark background when .dark class is applied */
}


